# Credenciales de Aimharder
AIMHARDER_EMAIL=tu_email@ejemplo.com
AIMHARDER_PASSWORD=tu_contraseña

# Configuración del Box
BOX_URL=https://singularboxgranadaadaada.aimharder.com/
BOX_ID=9221

# Preferencias por defecto
TARGET_TIME=17:30
TARGET_CLASS_NAME=CrossFit (apta con experiencia)
TARGET_DAYS=0,1,2,3,4
DAYS_AHEAD=5

# Colección de Objetivos de Reserva (Formato JSON)
# Define aquí cualquier número de clases con sus respectivos nombres, horas y días (0=Lunes, 1=Martes, ..., 4=Viernes)
TARGETS=[{"name": "CrossFit (apta con experiencia)", "time": "17:30", "days": [0,1,2,3,4]}, {"name": "Gymnastic", "time": "18:50", "days": [0,1,2,3,4]}]

# Configuración de Telegram
TELEGRAM_BOT_TOKEN=tu_bot_token_telegram
TELEGRAM_CHAT_ID=tu_chat_id_telegram
